.Header {
  height: 100px;
  background-image: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgba(150, 53, 156, 0.82) 8%, rgb(194, 43, 101) 26%, rgb(253, 29, 29) 50%, rgb(252, 100, 48) 74%, rgb(252, 135, 58) 86%, rgb(252, 176, 69) 100%);
  color: whitesmoke;
  margin-bottom: 10px;
  text-align: right;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size:7.25rem;
  font-weight: bold;
   
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  font-size:7.25rem;
  white-space: nowrap;
  padding-left: 50px;
  color: white;
  font-weight: bold;
}

a {
  color: none;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.Navbar__Items--right {
  margin-left:auto;
  display: flex;
  font-size:25px;
  font-weight: bold;
}
.Navbar__Link{
  font-size:30px;
}




