.Providers {
  text-align: center;
}
.centered {
  height: 30vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  
}

.mr-sm-2{
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
          font-size:20px;
}

.btn-outline-info {
  color: whitesmoke;
  border-color: #17a2b8;
  background-color:#17a2b8 ;
  font-size:20px;
}