.SearchCity {
  text-align: center;
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.design{
  box-shadow: 5px 5px 5px  lightgrey;
}